body{
	background-color: #ccc;
	color: #000;
}
#site{
	width: 50%;
	height: auto;
	margin: 0px 25% 0px 25%;
	background-color: #1d22f4;
	padding: 10px 15px 5px 15px;
	border-radius: 5px;
}
p{
	color: #fff;
}
#header{
	width: 96%;
	height: auto;
	margin: 0px 2% 5px 1%;
	background-color: #0b0d89;
	border-radius: 5px;
	padding: 5px 5px 1px 5px;
}
#logo{
	width: 96%;
	margin: 0px 2% 5px 1%;
	background-color: #d7d7ee;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
}
#menu{
	width: 96%;
	margin: 0px 2% 15px 1%;
	background-color: #d7d7ee;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
}

#banner{
	width: 96%;
	height: auto;
	margin: 0px 2% 5px 1%;
	background-color: #0b0d89;
	border-radius: 5px;
	padding: 15px 5px 1px 5px;
}
#comentario{
	width: 96%;
	margin: 0px 2% 5px 1%;
	background-color: #d7d7ee;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
}

#conteudo{
	width: 96%;
	height: auto;
	margin: 0px 2% 5px 1%;
	background-color: #0b0d89;
	border-radius: 5px;
	padding: 15px 5px 1px 5px;
}
#esquerdo{
	width: 96%;
	margin: 0px 2% 5px 1%;
	background-color: #d7d7ee;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
}
#direito{
	width: 96%;
	margin: 0px 2% 5px 1%;
	background-color: #d7d7ee;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
}

#footer{
	width: 96%;
	height: auto;
	margin: 0px 2% 5px 1%;
	background-color: #0b0d89;
	border-radius: 5px;
	padding: 15px 5px 1px 5px;
}
#copyrighter {
	width: 96%;
	margin: 0px 2% 5px 1%;
	background-color: #d7d7ee;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
}
.noticia {
	width: 96%;
	margin: 0px 2% 5px 1%;
	background-color: #ccc;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
}
