#emoji{
  border-radius:100%;
  width:500px;
  height:500px;
}
.circle{
    border-radius:100%;
    width:500px;
    height:500px;
    background-color:yellow;
    border-style: solid;
    border-color: black;
    position: relative;
}

.olho_E{
  margin-top: -45px;
  margin-left: 100px;
  background-color: black;
  width:50px;
  height:50px;
  border-radius: 55%;
  position: relative;

}

.olho_D{
  margin-top: -350px;
  margin-left: 330px;
  background-color: black;
  width:50px;
  height:50px;
  border-radius: 55%;
  position: relative;
}

.boca{
  margin-top: 125px;
  margin-left: 150px;
  background-color: black;
  border-style: solid;
  border-color: black;
  width:200px;
  height:1px;
  border-radius: 40%;
  position: relative;
  border-width: thick;
}

aberta{
  margin-top: 0px;
  margin-left: 145px;
  background-color: red;
  border-style: solid;
  border-color: black;
  width:200px;
  height:10px;
  border-radius: 40%;
  position: relative;
  border-width: thick;
  padding-bottom: 100px;


}
#emoji:hover{

  background-color: red;
  border-style: solid;
  border-color: black;
  width:200px;
  height:125px;
  border-radius: 40%;
  position: relative;
  border-width: thick;

}
#emoji:active{
  border-radius: 20%;
  border-style: solid;
  border-color: black;
  float: left;
  width: 70px;
  height: 70px;
  background-color: purple;
  position: relative;
  color: white;
  font-size: 15px;

}
